bertopic>=0.16.4
community>=1.0.0b1
hdbscan>=0.8.40
htmltools>=0.6.0
matplotlib>=3.5.1
networkx>=3.3
NewsSentiment>=1.2.28
nltk>=3.9.1
numpy>=1.23.5
openai>=1.59.3
pandas>=1.5.3
playwright>=1.49.0
plotly>=5.24.1
pytest>=7.4.4
python_louvain>=0.16
scikit_learn>=1.2.2
seaborn>=0.13.2
sentence_transformers==2.2.2
shiny>=1.2.1
shinywidgets>=0.3.4
spacy>=3.8.0,<3.9.0
tqdm>=4.67.1
transformers>=4.6.0,<5.0.0
vaderSentiment>=3.3.2
wordcloud>=1.9.4
en-core-web-sm @ https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-3.8.0/en_core_web_sm-3.8.0-py3-none-any.whl