:root {
    --primary-color: #0096b1;
    --secondary-color: #0056b3;
    --background-color: #d7d7d7;
    --container-color: #fdfdfd;
    --app-title-color: #535353;
    --text-color: #000000;
}

body {
    background-color: var(--background-color) !important;
    color: var(--text-color);
}

body .navbar.navbar-default {
    background-color: var(--background-color) !important;
    border-color: var(--background-color);
}

body .nav-underline {
    --bs-nav-underline-gap: 0.5rem;
    gap: var(--bs-nav-underline-gap) !important;
}

.footer {
    height: 5%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: var(--background-color);
}

.navbar .navbar-brand {
    color: var(--app-title-color) !important;
    font-weight: bold;
    font-size: 35px;
    background-color: var(--background-color);
}

.navbar-nav .nav-item .nav-link {
    background-color: var(--primary-color);
    color: var(--text-color);
    border-radius: 50px;
    border: 0;
    margin: 1px;
    padding: 10px 50px;
    text-align: center;
    min-width: 170px;
    display: inline-block;
    font-weight: bold;
    transition: background-color 0.3s ease;
    font-size: 22px;
}

.navbar-nav .nav-item .nav-link:hover {
    background-color: var(--secondary-color);
}

.navbar-nav .nav-item .nav-link:not(.active) {
    opacity: 0.7;
}

.navbar-nav .nav-item .nav-link.active {
    opacity: 1;
}

.main-container {
    display: flex;
    justify-content: space-between;
    transition: all 0.3s ease;
    margin-bottom: 60px;
}

.main-left-container {
    width: 100%;
    padding: 20px;
    background-color: var(--container-color);
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 4%;
}
.article-container {
    width: 100%;
    border: 2px solid black;
    padding: 10px;
    margin-bottom: 20px;
}
.main-left-container .article-container:first-child,
.main-left-container .article-container:nth-child(2)  {
    width: 48%;
}

.single-module .article-container.single-article-container {

    width: 100% !important;
}

.main-right-container {
    width: 20%;
    border: 1px solid #ccc;
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    transition: all 0.3s ease;
}

.text-content {
    white-space: pre-wrap;
    overflow: hidden;
    margin-bottom: 20px;
}

#uploaded_text_content, #uploaded_text_content_1, #uploaded_text_content_2 {
    width: 100%;
    word-wrap: break-word;
    white-space: pre-wrap;
    overflow-x: hidden;
}

#uploaded_text_header, #uploaded_text_header_1, #uploaded_text_header_2 {
    background-color: var(--primary-color);
    color: var(--text-color);
    padding: 20px;
    border-radius: 5px;
    text-align: center;
    font-weight: 600;
    font-size: 20px;
    text-transform: uppercase;
}

.control-label {
    background-color: var(--primary-color);
    color: var(--text-color);
    border-radius: 25px;
    padding: 12px 30px;
    display: inline-block;
    cursor: pointer;
    font-weight: bold;
    transition: background-color 0.3s ease;
    text-transform: uppercase;
}

.control-label:hover {
    background-color: var(--secondary-color);
}

#file_upload_2-label{
    display: none;
}

.right-tab {
    position: fixed;
    top: 50%;
    right: -10px;
    transform: translateY(-50%);
    background-color: var(--primary-color);
    color: var(--text-color);
    padding: 10px;
    border-radius: 5px 5px 0 0;
    cursor: pointer;
    display: none;
}

.right-tab.show {
    display: block;
}

.plots-container {
    display: flex;
    gap: 4%;
    margin-top: 20px;
}

.plot-image {
    width: 48%;
    border: 2px solid black;
    padding: 10px;
    box-sizing: border-box;
}

.container-fluid{
    padding: 0;
}
