:root {
    --primary-color: #b2c8d2;
    --secondary-color: #7fa4b5;
    --background-color: #f9f8f7;
    --container-color: #fdfdfd;
    --app-title-color: #004a6c;
    --text-color: #002536;
}

body {
    background-color: var(--background-color) !important;
    color: var(--text-color);
    font-family: "Lato";
}

body .navbar.navbar-default {
    background-color: var(--background-color) !important;
    border-color: var(--background-color);
}

body .nav-underline {
    --bs-nav-underline-gap: 0.5rem;
    gap: var(--bs-nav-underline-gap) !important;
}

.footer {
    height: 5%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: var(--background-color);
}

.navbar .navbar-brand {
    color: var(--app-title-color) !important;
    font-weight: bold;
    font-size: 35px;
    background-color: var(--background-color);
}

.navbar-nav .nav-item .nav-link {
    background-color: var(--primary-color);
    color: var(--text-color);
    border-radius: 5px;
    border: 0;
    margin: 1px;
    padding: 10px 50px;
    text-align: center;
    min-width: 150px;
    display: inline-block;
    font-weight: bold;
    transition: background-color 0.3s ease;
    font-size: 22px;
}

.navbar-nav .nav-item .nav-link:hover, .control-label:hover {
    background-color: var(--secondary-color);
}

.navbar-nav .nav-item .nav-link:not(.active) {
    opacity: 0.7;
}

.navbar-nav .nav-item .nav-link.active {
    opacity: 1;
}

.main-container {
    display: flex;
    justify-content: space-between;
    transition: all 0.3s ease;
    margin: 0;
}

.main-left-container {
    width: 100%;
    height: 85vh;
    overflow: auto;
    padding: 20px;
    background-color: var(--background-color);
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 4%;
}

.article-container {
    width: 100%;
    /*border: 2px solid black;*/
    box-shadow: 3px 3px 10px lightgray;
    padding: 10px;
    margin-bottom: 20px;
    background: var(--container-color);
}

.main-left-container .article-container:first-child,
.main-left-container .article-container:nth-child(2) {
    width: 48%;
    background: var(--container-color);
}

.single-module .article-container.single-article-container {
    width: 100% !important;
    background: var(--container-color);
}

.single-module .plots-container {
    margin-bottom: 30px;
    background: var(--background-color);
}

.main-right-container {
    background-color: var(--background-color);
    width: 25%;
    border: 1px solid #ccc;
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    transition: all 0.3s ease;
    height: 85vh; /* Set a fixed height */
    overflow-y: auto;
}

.main-right-container .btn-secondary {
    margin-bottom: 20px; /* Add margin below the button */
}

.text-content {
    white-space: pre-wrap;
    overflow: hidden;
    margin-bottom: 20px;
}

#uploaded_text_content, #uploaded_text_content_1, #uploaded_text_content_2 {
    width: 100%;
    word-wrap: break-word;
    overflow-x: hidden;
}

#uploaded_text_header, #uploaded_text_header_1, #uploaded_text_header_2 {
    background-color: var(--primary-color);
    color: var(--text-color);
    padding: 20px;
    border-radius: 5px;
    text-align: center;
    font-weight: 600;
    font-size: 20px;
    /*text-transform: uppercase;*/
}

.control-label {
    background-color: var(--primary-color);
    color: var(--text-color);
    border-radius: 5px;
    padding: 12px 30px;
    display: inline-block;
    cursor: pointer;
    font-weight: bold;
    transition: background-color 0.3s ease;
    /*text-transform: uppercase;*/
}

.right-tab {
    position: fixed;
    top: 50%;
    right: -10px;
    transform: translateY(-50%);
    background-color: var(--primary-color);
    color: var(--text-color);
    padding: 10px;
    border-radius: 5px 5px 0 0;
    cursor: pointer;
    display: none;
}

.right-tab.show {
    display: block;
}

.plots-container {
    display: flex;
    flex-wrap: wrap;
    gap: 4%;
    margin-top: 20px;
}

img.entity-types-plot {
    width: 70%;
}

#entity_types_plot {
    width: 90%;
    max-width: 650px;
}

#most_common_entities_plot {
    width: 100%;
    max-width: 700px;
}

#entity_types_single_plot, #most_common_entities_single_plot {
    max-width: 550px;
}

#sentiment_dist_single_plot, #entity_types_double_plot, #sentiment_dist_sentence_double_plot,
#sentiment_dist_entity_double_plot {
    width: 75%;
    max-width: 850px;
}

#sentiment_dist_plot {
    width: 80%;
    max-width: 850px;
}

#sentiment_over_time_plot {
    width: 87%;
    max-width: 900px;
}

#sentiment_dist_per_target_plot, #sentiment_over_time_per_target_plot, #sentiment_dist_over_time_by_target_plot,
#keywords_over_time_plot, #stacked_keywords_over_time_plot {
    width: 100%;
    max-width: 1050px;
}

#word_count_distribution_plot, #sentence_count_distribution_plot {
    width: 100%;
    max-width: 850px;
}

#top_N_common_words_plot, #pos_wordclouds_plot {
    width: 87% !important;
    max-width: 800px;
    display: block;
    margin: 0 auto 30px;
    box-shadow: 3px 3px 10px lightgray;
    padding: 1px;
}

#most_common_words_single_plot, #most_common_words_double_plot_1, #most_common_words_double_plot_2, #sentiment_word_cloud_plot {
    width: 67% !important;
    max-width: 750px;
    display: block;
    margin: 0 auto 30px;
    box-shadow: 3px 3px 10px lightgray;
    padding: 1px;
}

#most_common_words_single_plot img, #most_common_words_double_plot_1 img, #most_common_words_double_plot_2 img,
#bigrams_plot img {
    width: 100%;
    margin-bottom: 30px;
}

#top_N_common_pos_plot {
    width: 100%;
}

#community_graph, #bigrams_plot {
    width: 87% !important;
    max-width: 1050px;
    height: auto !important;
    display: block;
    margin: 0 auto 30px;
    box-shadow: 3px 3px 10px lightgray;
    padding: 1px;
}

#community_graph img {
    width: 100% !important;
    margin-bottom: 30px;
}

#most_common_entities_double_plot {
    width: 85%;
    max-width: 970px;
}

.plot-image {
    width: 45%;
    box-shadow: 3px 3px 10px lightgray;
    padding: 10px;
    box-sizing: border-box;
    margin: 10px 10px 30px;
    flex: 1 1 30%;
    display: block;
    background-color: var(--container-color);
}

.shiny-ipywidget-output, .shiny-image-output {
    overflow: hidden;
    width: 45%;
    box-shadow: 3px 3px 10px lightgray;
    background-color: var(--container-color) !important;
    padding: 10px;
    box-sizing: border-box;
    margin: 10px auto 30px;
}

.plots-row .plot-image, .plots-row .shiny-ipywidget-output {
    display: block;
    margin: 0 auto 30px;
    background-color: var(--container-color);
}

.container-fluid {
    padding: 0;
}

.main-right-container.hidden {
    width: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    transition: all 0.3s ease;
}

.show-container-tab {
    position: fixed;
    top: 30%;
    right: -10px;
    transform: translateY(-50%);
    background-color: var(--primary-color);
    color: var(--text-color);
    padding: 10px;
    border-radius: 5px 5px 0 0;
    cursor: pointer;
    display: block;
    writing-mode: vertical-rl;
    text-orientation: mixed;
}

.main-container.full-width .main-left-container {
    width: 100%;
}

.collapsible-section {
    margin-bottom: 20px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.collapsible-section-header {
    width: 100%;
    border-bottom: var(--primary-color) 1px solid;
}

.hidden, label#dataset_name-label, .shiny-ipywidget-output .js-plotly-plot:nth-child(n+2) {
    display: none;
}

.toggle-button {
    border: none;
    background: transparent;
    cursor: pointer;
    font-size: 20px;
    transition: transform 0.3s ease;
    padding: 0;
}

.toggle-button.collapsed {
    transform: rotate(-90deg); /* Rotate to show right arrow */
}

.collapsible-section h3 {
    margin: 0;
    font-size: 18px;
}

.collapsible-section .toggle-button {
    margin-left: 10px;
}

.entity {
    position: relative;
    display: inline-block;
}

.entity:hover .tooltip {
    visibility: visible;
    opacity: 1;
    transition: opacity 0.3s;
}

.tooltip {
    visibility: hidden;
    position: absolute;
    background-color: black;
    color: white;
    padding: 10px;
    border-radius: 5px;
    font-size: 0.9em;
    bottom: -110px;
    left: 80%;
    transform: translateX(10%);
    z-index: 10;
    white-space: pre-wrap;
    width: 250px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.3); /* Adds a shadow for better visibility */
}

.view-button {
    margin-top: 20px; /* Add space before the button */
}

.icon-container {
    display: inline-block;
    background-color: #4CAF50; /* Green for positive sentiment */
    border-radius: 50%; /* Makes the background circular */
    padding: 10px; /* Adds space around the icon */
}

.icon-container img {
    display: block; /* Ensures no extra spacing around the icon */
    width: 20px;
    height: 20px;
}

a:hover .tooltip {
    visibility: visible;
    opacity: 1;
    bottom: -30px;
    left: 10%;
    width: 160px;
}

a {
    position: relative; /* Needed for positioning the tooltip relative to the image */
    display: inline-block; /* Makes the tooltip position relative to the image */
}

table.concordance-table {
    width: auto;
    border-collapse: collapse;
    font-size: 14px;
    line-height: 1.5;
    margin: 20px auto;
    color: var(--app-title-color);
    box-shadow: 3px 3px 10px lightgray;
    background-color: var(--container-color);
!important;
}

table.concordance-table body {
    background-color: var(--container-color);
!important;
}

table.concordance-table th {
    text-align: center;
    padding: 12px 12px 8px;
    border-bottom: 3px solid var(--primary-color);
    font-size: 16px;
    font-weight: bold;
}

table.concordance-table tbody td {
    padding: 10px;
    border: none;
    border-bottom: 1px solid var(--primary-color);
    text-align: left;
    word-wrap: break-word;
    background-color: var(--container-color);
!important;
}

table.concordance-table td.column-lefts {
    font-style: italic;
    text-align: right;
}

table.concordance-table td.column-center {
    text-align: center;
    font-weight: bold;
}

table.concordance-table td.column-rights {
    text-align: left;
    font-style: italic;
}

table.concordance-table td.column-count {
    text-align: left;
}

table.concordance-table thead th.sticky {
    position: sticky;
    top: 0;
    z-index: 2;
}

.collapsible-section-content {
    text-align: left;
}

.collapsible-section-content h3 {
    margin-top: 20px;
    counter-reset: subsection;
    font-size: 20px;
}

.collapsible-section-content h4 {
    font-size: 17px;
    counter-reset: subsubsection;
}

.collapsible-section-content h5 {
    font-size: 16px;
}

.collapsible-section-content h3:before {
    counter-increment: section;
    content: counter(section) ". ";
}

.collapsible-section-content h4:before {
    counter-increment: subsection;
    content: counter(section) "." counter(subsection) " ";
}

.collapsible-section-content h5:before {
    counter-increment: subsubsection;
    content: counter(section) "." counter(subsection) "." counter(subsubsection) " ";
}

.collapsible-section-content strong {
    color: #333;
}

.about-module .collapsible-section {
    align-items: baseline;
}

.collapsible-section-content {
    counter-reset: section;
}

#analyze_dataset_button {
    margin-bottom: 20px;
}

.plots-row {
    text-align: center;
}

.form-group:has(input[id="upload_folder"]) {
    margin: 0 !important;
}


